PORT=5000
BASE_URL="http://hv54.l.dedikuoti.lt:5000"
FRONTEND_URL="http://hv54.l.dedikuoti.lt"
STEAM_API_KEY="4F93C2CDAB980A17DA6E10808F48D66A"
MONGO_URI="mongodb://localhost:27017/cs_server"
SECRET_KEY="secret"

DATHOST_USERNAME="winartas@yahoo.com"
DATHOST_PASSWORD="gerHjUkU154525%"